{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'reunion/style.css' %}">

<form action="{% url 'reunion:meeting_preference' %}" method="post">
    {% csrf_token %}
    {{ entry_form }}
    <button type="submit">JOIN MEETING/UPDATE PREFERENCE</button>
</form>

<form action="{% url 'reunion:meeting_generation' %}" method="get">
    <button type="submit">Create New Meeting</button>
</form>

<!--todo, make pop_message as windowed notification.-->
{% if pop_message %}<p><strong>{{ pop_message }}</strong></p>{% endif %}
