li a {
    color: green;
}

body {
    background: white url("images/white_background.jpg") no-repeat;
}

hr.hr-line {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
}
